/BaiThucHanh0203/build/
/BaiThucHanh0203/nbproject/private/
/BaiThucHanh2302/build/
/BaiThucHanh2302/nbproject/private/
/BaiThucHanhLab2/build/
/BaiThucHanhLab2/nbproject/private/
/xinchao/build/
/xinchao/nbproject/private/
